/cf.html
/delivery.html
/desktop.ini
/Dev-C++.lnk
/Fall Guys.url
/home-styles.css
/home.html
/home.js
/images
/index.html
/jb.html
/new-shipment.html
/noor.html
/NOR,jpg
/shipment-detail.html
/style.css
/Visual Studio Code.lnk